module-hiro
  div.wrap-module.f.fh
    div
      div(if='{opts.content.src}').wrap-img.f.fh
        img(src='{opts.content.src}')
      p.mb50 {opts.content.tag_line}
      item-button-cta(content='{opts.content.cta}')

  style(scoped, type='less').
    @import "public/stylesheets/main.less";
    @import "public/stylesheets/theme.less";
    :scope {
      display: block;
      width: 100%;
      height: 80vh;
      background: @whiteC;
      .wrap-module {
        height: 100%;
        div {
          p {
            color: @blackC;
            letter-spacing: 1.2px;
          }
          .wrap-img {
            img {
              width: 160px;
            }
          }
        }
      }     
    }

  script.

