item-menu-icon-sp.s-show
  div.wrap-icon.f.fh.flex-wrap
    div.a.bar
    div.b.bar
    div.c.bar
    
  style(scoped, type='less').
    @import "public/stylesheets/main.less";
    @import "public/stylesheets/theme.less";
    :scope {
      display: block;
      position: relative;
      width: 48px;
      height: 48px;
      z-index: 301;
      .wrap-icon {
        width: 100%;
        height: 100%;
        .bar {
          display: block;
          width: 80%;
          height: 2px;
          border-radius: 3px;
          background: @whiteC;
          transition-property: all;
          transition-duration: 400ms;
          transition-delay: 0s;
          transition-timing-function: ease;
        }
        .a {
          transform: translate(0, 6px) rotateZ(0deg);
        }
        .b {
          transform: translate(0, 0px) rotateZ(0deg);
        }
        .c {
          transform: translate(0, -6px) rotateZ(0deg);
        }
        .a-active {
          transform: translate(0px, 16px) rotateZ(45deg);
        }
        .b-active {
          transform: translate(-40px, 0px) rotateZ(0deg);
          opacity: 0;
        }
        .c-active {
          transform: translate(0px, -16px) rotateZ(-45deg);
        }
      }
    }

  script.
    
    this.on('mount', function(){
      $('.wrap-icon, .overlay-sp, atom-menu-li-sp').click(function() {
        $('.a').toggleClass('a-active');
        $('.b').toggleClass('b-active'); 
        $('.c').toggleClass('c-active');
        
        $('menu-sp').toggleClass('active');
        $('.overlay-sp').fadeToggle(400);
        //animateSpMenu(); // global
      });
    });