item-why-points-point.px20.py32.mb12
  div.wrap-item.f.flex-around
    div.wrap-img.mr12.f.fh
      img(src='{opts.content.src}')
    div.wrap-text.f.fh
      div
        p.title.mb12 {opts.content.title}
        p.text {opts.content.text}

  style(scoped, type='less').
    @import "public/stylesheets/main.less";
    @import "public/stylesheets/theme.less";
    :scope {
      display: block;
      width: 100%;
      border-radius: 3px;
      background: @whiteC;
      .wrap-item {
        .wrap-img {
          width: 300px;
          img {
            width: 80%;
          }
        }
        .wrap-text {
          .title {
            font-weight: bold;
          }
          .text {
            line-height: 1.4;
          }
        }
      }     
    }

  script.

