module-why-points.py40
  div.wrap-module
    p.lead.mb24 {content.lead_text}
    item-why-points-point(each='{item in content.contents}' content='{item}')
    div.wrap-button.f.fc
      item-button-cta(content='{content.cta}')

  style(scoped, type='less').
    @import "public/stylesheets/main.less";
    @import "public/stylesheets/theme.less";
    :scope {
      display: block;
      width: 100%;
      background: @primaryBGC;
      .wrap-module {
        width: 90%;
        max-width: 1048px;
        margin: 0 auto;
        .lead {
          text-align: center;
        }
      }     
    }

  script.

    this.content = Contents.why_points;
    