module-hiro
  div.wrap-module


  style(scoped, type='less').
    @import "public/stylesheets/main.less";
    @import "public/stylesheets/theme.less";
    :scope {
      display: block;
      width: 100%;
      height: 80vh;
      background: #dedede;
      .wrap-module {
        
      }     
    }

  script.

