module-use-case.py40
  div.wrap-module
    item-h2(if='{opts.content.title}' content='{opts.content.title}')
    div.f.fc
      div.wrap-lists.f.flex-column
        item-use-case-list(each='{item in opts.content.items}' content='{item}')


  style(scoped, type='less').
    @import "public/stylesheets/main.less";
    @import "public/stylesheets/theme.less";
    :scope {
      display: block;
      width: 100%;
      background: @primaryBGC;
      .wrap-module {
        width: 90%;
        max-width: 1048px;
        margin: 0 auto;
      }     
    }

  script.

